<h1><%= currentUser.username %>'s Treasure!</h1>
<p>My superpower is: <%= currentUser.superpower %></p>
<br />

<img
  src="http://www.treasurenet.com/forums/attachment.php?attachmentid=99455&stc=1&d=1332397658"
/>
